<section class="contact-s3 minh-50vh container-fluid d-flex align-items-center py-5">
    <div class="row w-100 mx-0">
        <div class="col-12 col-md-6 py-5 mx-auto">
            <div class="card shadow mx-auto bg-white" id="contact-data">
                <div class="card-header">
                    <h6 class="text-secondary mb-0 d-inline-block">
                        Personal data
                    </h6>
                </div>
                <div class="card-body collapse show">
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text col-4 col-md-3 bg-white border-end-0">First name:</label>
                        <input type="text" class="col-8 col-md-9 form-control border-start-0 text-end bg-white"/>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text col-4 col-md-3 bg-white border-end-0">Last name:</label>
                        <input type="text" class="col-8 col-md-9 form-control border-start-0 text-end bg-white"/>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text col-4 col-md-3 bg-white border-end-0">Phone:</label>
                        <input type="tel" class="col-8 col-md-9 form-control border-start-0 text-end bg-white"/>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text col-4 col-md-3 bg-white border-end-0">Email:</label>
                        <input type="email" class="col-8 col-md-9 form-control border-start-0 text-end bg-white"/>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <label class="input-group-text col-4 col-md-3 bg-white border-end-0">Message:</label>
                        <textarea class="col-8 col-md-9 form-control border-start-0 text-end bg-white"></textarea>
                    </div>                             
                    <div class="mx-2 text-end border-top pt-3">
                        <a href="#flight-details" class="btn btn-sm btn-outline-secondary rounded-pill">Clear</a>
                        <a href="#payment-data" class="btn btn-sm btn-secondary rounded-pill">Send</a>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>  