<section class="about-s2 minh-50vh container-fluid d-flex align-items-center py-5">
    <div class="row w-100 mx-0">
        <div class="col-12 col-md-6 col-lg-5 order-2 order-md-1 d-flex align-items-center">
            <div class="text-center text-md-start">
                <h2 class="display-6">
                    Phasellus a lacus
                </h2>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit, 
                    neque vel tincidunt sollicitudin, libero magna laoreet massa, eu pretium 
                    leo eros at mauris. Phasellus a lacus ipsum. Maecenas dapibus nisi ac 
                    fringilla pretium. Nulla ullamcorper arcu at ipsum tempor, a mattis felis 
                    consequat. Nam mattis dignissim tincidunt. Etiam malesuada a ante ac molestie. 
                    Curabitur nisl justo, vehicula sit amet felis quis, imperdiet scelerisque 
                    neque. Pellentesque a ante ac dui fringilla consectetur. Phasellus luctus 
                    nibh id congue finibus.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-7 minh-25vh order-1 order-md-2"></div>
    </div>
</section>