<h6 class="mb-2 text-secondary border-bottom pb-2">
    Payment details:
</h6> 
<div class="input-group input-group-sm mb-2">
    <label class="input-group-text bg-secondary">Credit card number:</label>
    <input type="text" class="form-control border-start-0 text-end bg-secondary" readonly/>
</div>
<div class="input-group input-group-sm mb-2">
    <label class="input-group-text bg-secondary text-secondary">Blik code:</label>
    <input type="text" class="form-control border-start-0 text-end bg-secondary" readonly/>
</div> 