<h6 class="mb-2 text-secondary border-bottom pb-2">
    Pay with:
</h6> 
<div class="input-group input-group-sm mb-2 ps-3 small">                                
    <label class="form-check-label text-secondary">
        <input type="radio" class="form-check-control"/>
        Credit card
    </label>    
</div>   
<div class="input-group input-group-sm mb-2 ps-3 small">                                
    <label class="form-check-label text-secondary">
        <input type="radio" class="form-check-control"/>
        Cash
    </label>    
</div>        
<div class="input-group input-group-sm mb-2 ps-3 small">                                
    <label class="form-check-label text-secondary">
        <input type="radio" class="form-check-control"/>
        Blik
    </label>    
</div> 